{% extends "../base.html" %} {% block title %}Log-in{% endblock %} {% block content %}
<section>
    <h1>Log-in</h1>
    {% if form.errors %}
    <p>
        Your username and password didn't match. Please try again.
    </p>
    {% else %}
    <p>Please, use the following form to log-in:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'account:login' %}" method="post">
            {{ form|crispy }} {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" class="btn btn-success" value="Log-in"></p>
        </form>
        <p>
            Forgotten your password ?
            <a href="{% url 'account:password_reset' %}" class="btn btn-outline-info">Reset password</a>
        </p>
    </div>

</section>
{% endblock %}