{% extends "base.html" %}{% load crispy_forms_tags %} {% block title %}Change your password{% endblock %} {% block content %}
<section class="d-flex justify-content-center flex-column">
    <h1>Change your password from user : {{user.username}}</h1>
    <p>Use the form below to change your password.</p>
    <form method="post" class="w-25">
        {{ form|crispy }}
        <br>
        <p><input type="submit" class="btn btn-outline-primary" value="Change"></p>
        {% csrf_token %}
    </form>
</section>
{% endblock %}