{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href="{% static 'css/style.css ' %}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
        </script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <span class="logo">Bookmarks</span>
                </a>
                <div class="d-flex">
                    {% if request.user.is_authenticated %}
                        <ul class="d-flex justify-content-around">
                            <li {% if section == 'dashboard' %}class="selected"{% endif %}>
                                <a href="{% url 'account:dashboard' %}">My dashboard</a>
                            </li>
                            <li {% if section == 'images' %}class="selected"{% endif %}>
                                <a href="#">Images</a>
                            </li>
                            <li {% if section == 'people' %}class="selected"{% endif %}>
                                <a href="#">People</a>
                            </li>
                        </ul>
                    {% endif %}
                    <span class="user">
                        {% if request.user.is_authenticated %}
                            Hello {{ request.user.username }},
                            <a href="{% url 'account:logout' %}" class="btn btn-outline-primary">Logout</a>
                        {% else %}
                            <a href="{% url 'account:login' %}" class="btn btn-outline-primary">Log-in</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </nav>
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <center>
                <strong>This is Django 4 project tutorial</strong>
            </center>
        </footer>
    </body>
</html>
